.profile__subtitle {
  overflow: hidden;
  max-width: 460px;
  align-self: start;
  padding: 0 0 0 14px;
  margin: 0;
  grid-area: subtitle;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 911px) {
  .profile__subtitle {
    max-width: 290px;
    padding-left: 2px;
  }
}

@media screen and (max-width: 611px) {
  .profile__subtitle {
    padding-top: 8px;
    padding-left: 0;
    justify-self: center;
  }
}
