.card__remove {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url('../../../images/buttons/remove.svg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0 0 4px rgba(0 0 0 / 60%));
  transition: .3s;
}

.card__remove:hover {
  opacity: .6;
}
