.profile__add-card {
  position: relative;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  border-radius: 2px;
  grid-area: add;
  justify-self: end;
  transition: .3s;
}

.profile__add-card::before {
  position: absolute;
  top: calc(50% - (22px / 2));
  left: calc(50% - (22px / 2));
  width: 22px;
  height: 22px;
  background-image: url('../../../images/buttons/add.svg');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
}

.profile__add-card:hover {
  opacity: .6;
}

@media screen and (max-width: 611px) {
  .profile__add-card {
    width: 100%;
    margin-top: 32px;
  }

  .profile__add-card::before {
    top: calc(50% - (16px / 2));
    left: calc(50% - (16px / 2));
    width: 16px;
    height: 16px;
  }
}
