.logo {
  display: block;
  width: 143px;
  height: 33px;
  background-image: url('../../images/logo.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 33px;
  transition: .3s;
}

.logo:hover {
  opacity: .6;
}

@media screen and (max-width: 911px) {
  .logo {
    height: 24px;
    background-position: 27px center;
    background-size: auto 24px;
  }
}
