.card__like {
  width: 22px;
  height: 19px;
  background-image: url('../../../images/buttons/like.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: .3s;
}

.card__like:hover {
  opacity: .6;
}

.card__like:active {
  background-image: url('../../../images/buttons/liked.svg');
}
