.profile__avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: .3s;
}

.profile__avatar-overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 60%);
  content: '';
}

.profile__avatar-overlay::after {
  position: absolute;
  top: calc(50% - (26px / 2));
  left: calc(50% - (26px / 2));
  width: 26px;
  height: 26px;
  background-image: url('../../../images/buttons/edit.svg');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
}
